/* Eliminar margen, padding y bordes no deseados en los botones y enlaces */
  button, a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
  }
  
  /* Asegurarse de que el contenedor principal no tenga overflow */
  body, html {
    overflow-x: hidden;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  .swal2-popup {
    border-radius: 8px;
  }
  .swal2-confirm {
    padding: 0.5rem 1rem;
    font-weight: bold;
  }
  .swal2-cancel {
    padding: 0.5rem 1rem;
    font-weight: bold;
  }

  .custom-scrollbar-dark::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar-dark::-webkit-scrollbar-track {
    background: #2d2d2d; /* Color del track */
  }
  
  .custom-scrollbar-dark::-webkit-scrollbar-thumb {
    background: #555; /* Color del thumb */
    border-radius: 4px;
  }
  
  .custom-scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background: #888; /* Color del thumb al pasar el mouse */
  }
  
  .custom-scrollbar-light::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar-light::-webkit-scrollbar-track {
    background: #e0e0e0; /* Color del track */
  }
  
  .custom-scrollbar-light::-webkit-scrollbar-thumb {
    background: #bbb; /* Color del thumb */
    border-radius: 4px;
  }
  
  .custom-scrollbar-light::-webkit-scrollbar-thumb:hover {
    background: #999; /* Color del thumb al pasar el mouse */
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }